<section class="bg-gris py-16 md:py-20">
    <div class="section-container mx-auto grid grid-cols-auto grid-rows-2 gap-10 md:grid-cols-2 md:grid-rows-1">
        <div class="flex flex-col items-center gap-5 p-5 text-center sm:text-start">
            <h2 class="font-semibold tracking-wider mb-2 uppercase">Nuestra misión</h2>
            <p class="text-pretty leading-relaxed">
                Promover el desarrollo integral de los estudiantes de ingeniería
                de la UPC mediante la investigación, la innovación y fomentando
                su participación activa tanto en la comunidad universitaria como
                a nivel nacional.
            </p>
            <img class="mt-3 h-full" src="../../../Imagenes/about-image-1.png" />
        </div>
        <div class="flex flex-col items-center gap-5 p-5 text-center sm:text-start">
            <h2 class="font-semibold tracking-wider mb-2 uppercase">Nuestra visión</h2>
            <p class="text-pretty leading-relaxed">
                Ser una asociación líder en la formación de ingenieros íntegros
                y con visión global, reconocidos por su compromiso con la
                investigación y su impacto positivo en el desarrollo profesional
                y personal de sus miembros.
            </p>
            <img class="mt-3 h-full" src="../../../Imagenes/about-image-2.png" />
        </div>
    </div>
</section>
