<section>
  <div class="bg-gris py-16 md:py-20">
    <div class="grid md:grid-cols-2 bg-gris section-container">
      <div class="text-center">
        <h2 class="font-semibold mb-8 uppercase">síguenos</h2>
        <ul
          class="flex items-stretch justify-center gap-10 md:gap-20 text-white"
        >
          <a
            href="https://www.facebook.com/profile.php?id=61556567363828"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-rojo rounded-full p-3 w-16"
            aria-label="Ir a la pagina de Facebook de Aneimera UPC"
          >
            <i class="fa fa-facebook text-5xl"></i>
          </a>
          <a
            href="https://www.instagram.com/aneimera.upc/"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-rojo rounded-full p-3"
            aria-label="Ir a la pagina de Instagram de Aneimera UPC"
          >
            <i class="fa fa-instagram text-5xl"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/aneimera-upc/?viewAsMember=true"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-rojo rounded-full p-3"
            aria-label="Ir a la pagina de Linkedin de Aneimera UPC"
          >
            <i class="fa fa-linkedin-square text-5xl"></i>
          </a>
        </ul>
      </div>
      <div class="md:order-2 contact_section_right text-center">
        <h2 class="font-semibold mb-8 uppercase">Contáctanos</h2>
        <form
          action="https://formsubmit.co/0ad95f96ccdd28e6f37e440e6460acb1"
          method="POST"
          aria-label="Formulario para contactarse con Aneimera UPC"
        >
          <div class="mb-5">
            <input
              class="form-control appearance-none rounded-xl py-4 px-8 text-rojo leading-tight focus:outline-none focus:shadow-outline bg-blanco placeholder-rojo"
              type="text"
              placeholder="Nombre"
              name="nombre"
              id="i_nombre"
              required
            />
          </div>
          <div class="mb-5">
            <input
              class="form-control appearance-none rounded-xl py-4 px-8 text-rojo leading-tight focus:outline-none focus:shadow-outline bg-blanco placeholder-rojo"
              type="email"
              placeholder="Correo electrónico"
              name="correo"
              id="i_correo"
              required
            />
          </div>
          <div class="mb-5">
            <textarea
              cols=""
              rows="3"
              class="form-control appearance-none rounded-xl py-4 px-8 text-rojo leading-tight focus:outline-none focus:shadow-outline bg-blanco placeholder-rojo"
              placeholder="Mensaje"
              name="mensaje"
              id="mensaje"
              required></textarea>
          </div>
          <div class="">
            <button
              type="submit"
              class="bg-rojo font-semibold text-white py-3 px-7 rounded-3xl cursor-pointer
                            hover:bg-red-600 transition-all duration-200 ease"
              aria-label="Enviar formulario a Aneimera UPC">Enviar</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<style>
  .contact_section_right input,
  .contact_section_right textarea {
    width: 70%;
    margin: 0 auto;
  }
  @media screen and (max-width: 1025px) {
    .contact_section_right input,
    .contact_section_right textarea {
      width: 90%;
    }
  }
  @media screen and (max-width: 768px) {
    .contact_section_right {
      margin-top: 2rem;
    }
  }
</style>
