<contact_section>
    <div class="bg-gris">
        <div class="grid md:grid-cols-2 bg-gris pt-10 pb-10 section-container">
            <div class="text-center">
                <h2 class="font-bold mb-5">Siguenos</h2>
                <ul class="flex items-stretch justify-center gap-10 md:gap-20">
                    <a href="https://www.facebook.com/profile.php?id=61556567363828" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-facebook text-5xl"></i>
                    </a>
                    <a href="https://www.instagram.com/aneimera.upc/" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-instagram text-5xl"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/aneimera-upc/?viewAsMember=true" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-linkedin-square text-5xl"></i>
                    </a>
                </ul>
            </div>
            <div class="md:order-2 contact_section_right text-center">
                <h2 class="font-bold mb-5">Contáctanos</h2>
                <form action="https://formsubmit.co/0ad95f96ccdd28e6f37e440e6460acb1" method="POST">
                    <div class="mb-5">
                        <input class="form-control appearance-none rounded-xl py-4 px-8 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" type="text" placeholder="Nombre" name="nombre" id="i_nombre" required>
                    </div>
                    <div class="mb-5">
                        <input class="form-control appearance-none rounded-xl py-4 px-8 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" type="email" placeholder="Correo electrónico" name="correo" id="i_correo" required>
                    </div>
                    <div class="mb-5">
                        <textarea cols="" rows="3" class="form-control appearance-none rounded-xl py-4 px-8 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" placeholder="Mensaje" name="mensaje" id="mensaje" required></textarea>
                    </div>
                    <div class="">
                        <button type="submit" class="bg-blanco font-semibold text-Titulos py-3 px-7 rounded-full cursor-pointer hover:brightness-125">Enviar</button>
                    </div>
                </form>
            </div>                  
        </div>
    </div>
</contact_section>
<style>
    .contact_section_right input,.contact_section_right textarea{
        width: 70%;
        margin: 0 auto;
    }
    @media screen and (max-width: 1025px) {
        .contact_section_right input,.contact_section_right textarea{
            width: 90%;
        }
    }
    @media screen and (max-width: 768px) {
        .contact_section_right{
            margin-top: 2rem;
        }
    }
</style>