---
import UserIcon from "../../assets/UserIcon.astro";
import PhoneIcon from "../../assets/PhoneIcon.astro";
import EmailIcon from "../../assets/EmailIcon.astro";
import WhatsappIcon from "../../assets/WhatsappIcon.astro";
import FacebookIcon from "../../assets/FacebookIcon.astro";
import LinkedinIcon from "../../assets/LinkedinIcon.astro";
import InstagramIcon from "../../assets/InstagramIcon.astro";
---

<section class="bg-gris py-16 md:py-20">
  <div class="section-container">
    <div
      class="grid grid-cols-1 grid-rows-auto md:grid-cols-[auto,auto] md:grid-rows-1 gap-14 md:gap-10"
    >
      <div class="flex flex-col justify-center">
        <div class="w-full max-w-[600px] mx-auto">
          <h2 class="text-3xl font-semibold uppercase">Contáctanos</h2>
          <p class="mt-5 mb-7 text-base md:text-lg leading-relaxed">
            Comunicate con nosotros para obtener informacion acerca de los
            ultimos eventos y proyectos de Aneimera UPC!
          </p>
          <form
            class="flex flex-col gap-7"
            action="https://formsubmit.co/0ad95f96ccdd28e6f37e440e6460acb1"
            method="POST"
            aria-label="Formulario para contactarse con Aneimera UPC"
          >
            <div
              class="w-full flex flex-row items-center py-2 bg-blanco px-3 focus-within:bg-red-50/90"
            >
              <input
                placeholder="Nombre"
                class="bg-transparent w-full outline-none"
                type="text"
                required
              />
              <UserIcon />
            </div>
            <div
              class="w-full flex flex-row items-center py-2 bg-blanco px-3 focus-within:bg-red-50/90"
            >
              <input
                placeholder="Correo Electronico"
                class="bg-transparent w-full outline-none"
                type="email"
                required
              />
              <EmailIcon size="5" fillColor="#C63C51" />
            </div>
            <div
              class="w-full flex flex-row items-center py-2 bg-blanco px-3 focus-within:bg-red-50/90"
            >
              <input
                placeholder="Telefono de contacto"
                class="bg-transparent w-full outline-none"
                type="text"
                required
              />
              <PhoneIcon />
            </div>
            <textarea
              placeholder="Escribe tu mensaje aquí"
              class="px-3 bg-blanco w-full py-2 outline-none resize-none h-36 focus-within:bg-red-50/90"
              required></textarea>
            <button
              type="submit"
              class="self-center py-2 px-12 rounded-xl bg-rojo text-blanco sm:self-end
              hover:bg-red-800 transition-all duration-200 ease"
              aria-label="Enviar formulario de contacto a Aneimera UPC"
            >
              Enviar
            </button>
          </form>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div
          class="max-w-[550px] mx-auto grid grid-cols-1 xs:grid-cols-2 grid-rows-auto xs:grid-rows-2
          gap-y-8 md:gap-y-6 lg:gap-y-10 md:gap-x-6 lg:gap-x-12 gap-x-8"
        >
          <a
            href="https://wa.me/51945146828"
            aria-label="Redirigir a chat de WhatsApp de Aneimera UPC"
            rel="noopener noreferrer"
            target="_blank"
            class="flex flex-col items-center text-center gap-3 p-5 bg-blanco group cursor-pointer
            hover:bg-red-100/80 transition-all duration-200 social-card overflow-x-hidden"
          >
            <WhatsappIcon />
            <h3 class="text-lg md:text-xl font-medium text-[#A91D3A]">
              Déjanos un mensaje
            </h3>
            <p class="text-balance">Comunícate con nosotros a través de nuestro canal de WhatsApp</p>
          </a>
          <a
            href="https://www.instagram.com/aneimera.upc/?fbclid=IwZXh0bgNhZW0CMTAAAR1zVIBkqGjuWZx5S71qP8bpoU98B5jRS46Wpwg7l4_tUF6qsl9xbIxpTQU_aem_X9M-YJBWUHudK5Np5ddzAw"
            aria-label="Ir a la pagina oficial en Instagram de Aneimera UPC"
            rel="noopener noreferrer"
            target="_blank"
            class="flex flex-col items-center text-center gap-3 p-5 bg-blanco group cursor-pointer
            hover:bg-red-100/80 transition-all duration-200 social-card overflow-x-hidden"
          >
            <InstagramIcon />
            <h3 class="text-lg md:text-xl font-medium text-[#A91D3A]">
              Últimos posts
            </h3>
            <p class="text-balance">
              Revisa nuestras últimas publicaciones a través de nuestra cuenta
              oficial
            </p>
          </a>
          <a
            href="https://www.facebook.com/profile.php?id=61556567363828"
            aria-label="Redirigir a la página de Facebook"
            rel="noopener noreferrer"
            target="_blank"
            class="flex flex-col items-center text-center gap-3 p-5 bg-blanco group cursor-pointer
            hover:bg-red-100/80 transition-all duration-200 social-card overflow-x-hidden"
          >
            <div
              class="border-[3px] border-black p-2 rounded-full transform
              transition-transform duration-300 group-hover:scale-105"
            >
              <FacebookIcon />
            </div>
            <h3 class="text-lg md:text-xl font-medium text-[#A91D3A]">
              Últimas noticias
            </h3>
            <p class="text-balance">
              Entérate de nuestras últimas publicaciones en nuestra página
              oficial
            </p>
          </a>
          <a
            href="https://www.linkedin.com/company/aneimera-upc/about/"
            aria-label="Redirigir al LinkedIn oficial de Aneimera UPC"
            rel="noopener noreferrer"
            target="_blank"
            class="flex flex-col items-center text-center gap-3 p-5 bg-blanco group cursor-pointer
            hover:bg-red-100/80 transition-all duration-200 social-card overflow-x-hidden"
          >
            <div
              class="border-[3px] border-black p-2 rounded-full transform transition-transform duration-300 group-hover:scale-105"
            >
              <LinkedinIcon />
            </div>
            <h3 class="text-lg md:text-xl font-medium text-[#A91D3A]">
              Últimos aportes
            </h3>
            <p class="text-balance">Descubre nuestras últimas colaboraciones a través de LinkedIn</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .social-card p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
