<section class="py-16 md:py-20">
    <div class="section-container">
        <div id="goal">
            <h2 class="uppercase text-center font-semibold tracking-wider pb-10">Objetivos</h2>
            <div id="div_objetivos" class="flex justify-between gap-10">
                <div class="bg-gris p-8 flex items-center">
                    <ul id="objetivos" class="flex flex-col gap-2 list-disc ml-5">
                        <li class="text-pretty tracking-wide text-base md:text-lg leading-[1.9]">Promover la investigación científica y tecnológica.</li>
                        <li class="text-pretty tracking-wide text-base md:text-lg leading-[1.9]">Organizar un diagnóstico integral que contribuya a la detección de problemas.</li>
                        <li class="text-pretty tracking-wide text-base md:text-lg leading-[1.9]">Organizar programas de capacitación y actualización científica tecnológica.</li>
                        <li class="text-pretty tracking-wide text-base md:text-lg leading-[1.9]">Contribuir a la integración y desarrollo nacional.</li>
                        <li class="text-pretty tracking-wide text-base md:text-lg leading-[1.9]">Canalizar proyectos y programas hacia personas naturales o jurídicas para su financiamiento.</li>
                    </ul>
                </div>
                <img src="Imagenes/img-goal.jpg" alt="" class="h-60 my-auto">
            </div>
        </div>
    </div>
</section>
<style>
	@media screen and (max-width: 768px) {
        #div_objetivos{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        #div_objetivos>div{
            padding: 15px 15px !important;
        }
	}

</style>