---
import Header from "../components/header.astro";
import Footer from "../components/Footer.astro";
import AboutUs from "../views/home/about-us.astro";
import Goal from "../views/home/goal.astro";
import ContactSection from "../views/home/contact_section.astro";
import Hero from "../views/home/hero.astro";
import Questions from "../views/home/questions.astro";
import Workshops from "../views/eventos/workshops.astro";
import Ponencias from "../views/eventos/ponencias.astro";
import AneimeraPeru from '../views/aneimera_peru/aneimera-peru.astro';
        
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>
	<body class="overflow-x-hidden">
		<div id="content">
			  <Header/>
    		<Hero/>
        <AboutUs/>
			  <Goal/>
			  <ContactSection/>
		<Questions></Questions>
        <Footer></Footer>
		<AneimeraPeru></AneimeraPeru>
		</div>		
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: "Poppins";
	}
	.section-container {
		width: 90%;
		max-width: 1400px;
		margin-inline: auto;
	}

	h2 {
		@apply text-lg sm:text-xl;
	}

	h3 {
		@apply text-sm sm:text-base;
	}

	h4 {
		@apply text-xs sm:text-sm;
	}

	p {
		@apply text-sm sm:text-base;
	}
</style>

<script>
	var navbar = document.querySelector("header");
	var navbarHeight = navbar!.offsetHeight;
	var cotent = document.getElementById("content");
	cotent!.style.marginTop = navbarHeight + "px";
</script>
