---
import PlusIcon from "../../assets/PlusIcon.astro";
---

<section class="flex justify-center section-container py-16 md:py-20">
  <div class="accordion mx-auto">
    <h2 class="mb-8 font-semibold uppercase">Preguntas Frecuentes</h2>

    <div class="accordion-item">
      <div class="accordion-header">
        <p class="text-base md:text-lg">
          ¿Dónde puedo inscribirme a los talleres proporcionados?
        </p>
        <PlusIcon />
      </div>
      <div class="accordion-content text-normal md:text-lg">
        <p
          class="text-sm md:text-base text-wrap px-5"
          style="line-height: 1.7;"
        >
          Los formularios para los diversos talleres propuestos por Aneimera UPC
          serán publicados en nuestras redes sociales en Instagram, Facebook, y
          LinkedIn. También puedes encontrar los enlaces de inscripción en
          nuestro sitio web oficial y en los correos electrónicos informativos
          que enviamos a nuestros miembros. Te recomendamos seguir nuestras
          redes sociales para estar al tanto de todas las novedades y fechas
          importantes. Te recomendamos seguir todas nuestras redes sociales y
          activar las notificaciones para no perderte ninguna actualización.
          Tambien puedes dirigirte a la seccion de <a
            href="/EventosPage"
            class="underline text-blue-700"
            aria-label="Ir a la sección de Eventos"
            >eventos</a
          >.
        </p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header">
        <p class="text-base md:text-lg">¿Cómo podria volverme embajador?</p>
        <PlusIcon />
      </div>
      <div class="accordion-content">
        <p
          class="text-sm md:text-base text-wrap px-5"
          style="line-height: 1.7;"
        >
          Las convocatorias para ser parte de Aneimera UPC como mesa directiva,
          líder de área o voluntario serán publicadas en nuestras redes sociales
          en Instagram, Facebook, y LinkedIn. Además, estas convocatorias
          también se anunciarán en nuestro sitio web oficial y a través de
          correos electrónicos a todos los miembros registrados.
        </p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header">
        <p class="text-sm md:text-lg">
          ¿Con quién me podria contactar para resolver mis dudas?
        </p>
        <PlusIcon />
      </div>
      <div class="accordion-content">
        <p
          class="text-xs md:text-base text-wrap px-5"
          style="line-height: 1.7;"
        >
          Contamos con una comunidad en WhatsApp de Aneimera UPC
          <a
            aria-label="Ir a la comunidad en WhatsApp de Aneimera UPC"
            href="https://chat.whatsapp.com/C88nToJgOTP4wKShufDigG"
            class="text-green-700 hover:underline"
            >https://chat.whatsapp.com/C88nToJgOTP4wKShufDigG</a
          >, donde podrás resolver cualquier duda correspondiente. Además,
          puedes contactarnos a través de nuestras redes sociales, enviar un
          correo electrónico a nuestro equipo <a
            aria-label="Mandar un correo a Aneimera UPC"
            href="mailto:aneimera.upc@gmail.com"
            class="text-blue-600/80 hover:underline">aneimera.upc@gmail.com</a
          > o utilizar el formulario de contacto en nuestro sitio web. Te recomendamos
          unirte a nuestro grupo de WhatsApp para resolver dudas rápidamente y estar
          en contacto directo con otros miembros. Si tu pregunta es específica o
          requiere una respuesta detallada, considera enviarla por correo electrónico
          para recibir una respuesta más completa.
        </p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-header">
        <p class="text-base md:text-lg">
          ¿Cada cuánto tiempo se realizan los eventos?
        </p>
        <PlusIcon />
      </div>
      <div class="accordion-content">
        <p
          class="text-sm md:text-base text-wrap px-5"
          style="line-height: 1.7;"
        >
          Los eventos se realizan con frecuencia en las primeras semanas de
          clase, semanas antes de los parciales, y posterior a ellos antes de la
          semana de finales. Además, organizamos eventos especiales durante el
          semestre, incluyendo talleres, seminarios, y actividades de
          networking. Te recomendamos seguir nuestras redes sociales para estar
          al tanto de todas las fechas importantes.
        </p>
      </div>
    </div>
  </div>

  <style>
    .accordion {
      width: 60%;
    }
    .accordion-item {
      margin-bottom: 1rem;
    }
    .accordion-header {
      background: #c42626;
      color: #fefefe;
      padding: 15px 30px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    .accordion-header a {
      margin-top: auto;
      margin-bottom: auto;
    }
    .accordion-header svg {
      height: 30px;
      cursor: pointer;
    }
    .accordion-content {
      margin-top: 10px;
      overflow: hidden;
      transition:
        max-height 0.5s ease,
        opacity 0.5s ease;
      max-height: 0;
      opacity: 0;
    }
    .open {
      opacity: 1;
      max-height: 500px;
    }

    @media screen and (max-width: 1025px) {
      .accordion {
        width: 100%;
      }
    }
  </style>

  <script is:inline>
    document.addEventListener("astro:page-load", function () {
      const imagenes = document.querySelectorAll(".plus");

      imagenes.forEach((imagen) => {
        imagen.addEventListener("click", () => {
          console.log("click");
          const accordionItem = imagen.closest(".accordion-item");
          const accordionContent =
            accordionItem.querySelector(".accordion-content");
          accordionContent.classList.toggle("open");
          if (accordionContent.classList.contains("open")) {
            (imagen).src = "Imagenes/minus-solid.svg";
          } else {
            (imagen).src = "Imagenes/plus-solid.svg";
          }
        });
      });
    });
  </script>
</section>
