---
import QueEs from "../aneimera_peru/que-es.astro";
import Coneimera2023 from '../aneimera_peru/coneimera-2023.astro'
---

<div class="w-full">
    <div class="text-center font-semibold text-5xl mt-5">ANEIMERA PERÚ</div>
    <QueEs></QueEs>
    
    <Coneimera2023></Coneimera2023>
</div>
