<section class="bg-rojo h-auto mt-3 text-blanco pt-3">
    <h2 class="Coneimera2023Arequipa text-white text-center text-4xl font-bold m-5">
        Coneimera 2023 Arequipa
    </h2>
    <div class="text-2xl font-normal flex justify-center flex-col md:flex-row md:w-full">
        <img class="m-10 md:w-1/2" src="https://via.placeholder.com/600x400"/>
        <ul class="m-10 text-justify list-disc">
            <br>
            <li>
                <span>+2000 participantes inscritos</span>
            </li>
            <br>
            <li>
                <span> Participaron 44 universidades de diferentes partes del país</span>
            </li>
            <br>
            <li>
                <span>Competencia robótica con +400 robots diseñados por estudiantes universitarios y de colegio</span>
            </li>
            <br>
            <li>
                <span>Ponencias internacionales y nacionales, así como sponsors prestigiosos como Huawei</span>
            </li>
            <br>
        </ul>
    </div>
</section>