<section class="flex justify-center flex-col md:flex-row md:w-full">
    <div class="borde bg-gris m-10">
        <h2 class="text-4xl text-center font-medium m-10">¿QUÉ ES?</h2>
        <div class="font-light text-3xl m-12 text-justify leading-normal">
            Busca el desarrollo de la investigación en las facultades de las universidades asociadas, 
            a través de transmitir conocimientos, ideas, sana competencia y sobre todo experiencias.</div>
    </div>
    <img class="borde m-10 md:w-1/2" src="https://via.placeholder.com/700x566" />
</section>

<style>
    .borde {
        border: 1px black solid;
    }
</style>