<footer>
  <section class="Footer w-full">
    <div class="mt-20 bg-rojo px-5 py-10">
      <div class="flex mb-4 justify-around flex-row flex-wrap gap-x-10">
        <div class="mt-4">
          <div class="font-bold mb-8 sub_titulo text-blanco">
            <h3>Links de apoyo</h3>
          </div>
          <ul class="flex flex-col gap-4 text-gris ">
            <li><a href="/" class="">&gt;&gt; <span class="hover:underline">Inicio</span></a></li>
            <li><a href="/aneimera_peru_page">&gt;&gt; <span class="hover:underline">Aneimera Peru</span></a></li>
            <li><a href="/directiva_page">&gt;&gt; <span class="hover:underline">Directiva</span></a></li>
            <li><a href="/eventos_page">&gt;&gt; <span class="hover:underline">Eventos</span></a></li>
          </ul>
        </div>
        <div class="mt-4">
          <div class="font-bold mb-8 sub_titulo text-blanco">Contacto</div>
          <div class="flex flex-col gap-4 text-gris">
            <a class="PhoneNumber" href="https://wa.link/x57hls"><span class="hover:underline">+51 945 146 828</span></a>
            <a class="Email" href="mailto:aneimera.upc@gmail.com" rel="noopener noreferrer"><span class="hover:underline">aneimera.upc@gmail.com</span></a>
          </div>
        </div>
        <div class="mt-4">
          <div class="font-bold mb-8 sub_titulo text-blanco">Legal</div>
          <div class="flex flex-col gap-4 text-gris">
            <a href="#"><span class="hover:underline">Politica de privacidad</span></a>
            <a href="#"><span class="hover:underline">Terminos y condiciones</span></a>
          </div>
        </div>
      </div>
      <div class="Copyright text-center pb-4 text-gris">(c) Copyright ANEIMERA UPC. All rights reserved.</div>
    </div>
  </section>
</footer>

<style>
  
  a{;
    text-decoration: none;
  }

  @media screen and (max-width: 678px) {
    .sub_titulo,a{
      text-align: center;
    }
    .sub_titulo{
      margin-bottom: 1rem;
    }
    .Copyright{
      padding-top: 1rem;
    }
  }
 
</style>