

<footer>
    <section class="Footer w-full">
      <div class="m-20">
      <div class="space-x-4 flex text-md mb-6 justify-between flex-col md:flex-row">
        <div class="UsefulLinks m-4">
          <div class="font-bold">Links de apoyo</div>
          <ul class="Links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Aneimera Peru</a></li>
            <li><a href="#">Directiva</a></li>
            <li><a href="#">Eventos</a></li>
          </ul>
        </div>
        <div class="Contact m-4">
          <div class="font-bold">Contacto</div>
          <div class="Info">
            <a class="PhoneNumber" href="#">+51 945 146 828</a>
            <a class="Email" href="#">aneimera.upc@gmail.com</a>
          </div>
        </div>
        <div class="Legal m-4">
          <div class="font-bold">Legal</div>
          <div class="LegalServices">
            <a href="#">Politica de privacidad</a>
            <a href="#">Terminos y condiciones</a>
          </div>
        </div>
      </div>
      <div class="Copyright font-normal p-3">(c) Copyright ANEIMERA UPC. All rights reserved.</div>
    </div>
    </section>
</footer>
  
  <style>
    
  
    .Footer {
      background: #DFDFDF;
    }

    .Links,
    .Info,
    .LegalServices {
      display: flex;
      flex-direction: column;
      gap: 5px;
      a{
      text-decoration: none;
    }
    }
  
    .Copyright {
      font-size: 14px;
      word-wrap: break-word;
    }
   
  </style>
  