<footer>
    <section class="Footer w-full">
      <div class="mt-20 bg-rojo px-5">
        <div class="flex mb-4 justify-around flex-row flex-wrap gap-x-10">
          <div class="mt-4">
            <div class="font-bold mb-8 sub_titulo">Links de apoyo</div>
            <ul class="flex flex-col gap-4">
              <li><a href="#"> &gt;&gt;  Inicio</a></li>
              <li><a href="#"> &gt;&gt;  Aneimera Peru</a></li>
              <li><a href="#"> &gt;&gt;  Directiva</a></li>
              <li><a href="#"> &gt;&gt;  Eventos</a></li>
            </ul>
          </div>
          <div class="mt-4">
            <div class="font-bold mb-8 sub_titulo">Contacto</div>
            <div class="flex flex-col gap-4">
              <a class="PhoneNumber" href="https://wa.link/x57hls">+51 945 146 828</a>
              <a class="Email" href="#">aneimera.upc@gmail.com</a>
            </div>
          </div>
          <div class="mt-4">
            <div class="font-bold mb-8 sub_titulo">Legal</div>
            <div class="flex flex-col gap-4">
              <a href="#">Politica de privacidad</a>
              <a href="#">Terminos y condiciones</a>
            </div>
          </div>
        </div>
        <div class="Copyright text-center pb-4">(c) Copyright ANEIMERA UPC. All rights reserved.</div>
      </div>
    </section>
</footer>
  
  <style>
    
    a{
      color: white;
      text-decoration: none;
    }

    @media screen and (max-width: 678px) {
      .sub_titulo,a{
        text-align: center;
      }
      .sub_titulo{
        margin-bottom: 1rem;
      }
      .Copyright{
        padding-top: 1rem;
      }
    }
   
  </style>
  