

<footer>
    <section class="Footer">
      <div class="Background">
      <div class="grid">
        <div class="UsefulLinks">
          <div class="Heading">Links de apoyo</div>
          <div class="Links">
            <a class="Home"><span class="ChevronsRight"></span>Inicio</div>
            <a class="Home"><span class="ChevronsRight"></span>Aneimera Peru</div>
            <a class="Home"><span class="ChevronsRight"></span>Directiva</div>
            <a class="Home"><span class="ChevronsRight"></span>Eventos</div>
          </div>
        </div>
        <div class="Contact">
          <div class="Heading">Contacto</div>
          <div class="Info">
            <div class="PhoneNumber">+51 945 146 828</div>
            <div class="Email">aneimera.upc@gmail.com</div>
          </div>
        </div>
        <div class="Legal">
          <div class="Heading">Legal</div>
          <div class="PopularServices">
            <div class="Home">Politica de privacidad</div>
            <div class="Home">Terminos y condiciones</div>
          </div>
        </div>
      </div>
      <div class="Copyright">(c) Copyright ANEIMERA UPC. All rights reserved.</div>
    </div>
    </section>
</footer>
  
  <style>
    .Footer {
      width: 100%;
      background: #434A51;
      position: relative;
    }
  
    .UsefulLinks{
      display: grid;
    }

    .Background {
      width: 100%;
      height: 515px;
      position: absolute;
      background: #DFDFDF;
      border: 1px solid;
    }
  
    .Content {
      width: 90%;
      max-width: 1820px;
      margin: auto;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .Heading {
      color: #231F20;
      font-size: 24px;
      font-family: Poppins;
      font-weight: 700;
      line-height: 33px;
      word-wrap: break-word;
    }
  
    .Links,
    .Info,
    .PopularServices {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .Home {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #251F21;
      font-size: 18px;
      font-family: Poppins;
      font-weight: 400;
      word-wrap: break-word;
    }
  
    .ChevronsRight {
      width: 20px;
      height: 20px;
      position: relative;
    }
  
    .Copyright {
      color: #251F21;
      font-size: 14px;
      font-family: Poppins;
      font-weight: 400;
      word-wrap: break-word;
      padding: 20px;
    }
  </style>
  