<header class="bg-white fixed top-0 w-full z-10 opacity-90">
    <section>
        <div class="">
            <div class="row">
                <div class="grid grid-cols-2">
                    <div class="logo flex justify-normal">
                        <a href="#">
                            <img src="Imagenes/Logo.png" alt="Logo" class="h-20 w-72">
                        </a>
                    </div>
                    <nav class="nav-menu grid content-center">
                        <ul class="text-black flex justify-center ">
                            <li><a href="" class="hover:text-slate-400 md:me-6 decoration-transparent">Inicio</a></li>
                            <li><a href="" class="hover:text-slate-400 me-4 hover:underline md:me-6 decoration-transparent">Aneimera peru</a></li>
                            <li><a href="" class="hover:text-slate-400 me-4 hover:underline md:me-6 decoration-transparent">Directiva</a></li>
                            <li><a href="" class="hover:text-slate-400 me-4 hover:underline md:me-6 decoration-transparent">Eventos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</header>