---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import AneimeraBanner from "../assets/Imagenes/not-found-cards.webp";
---

<Layout title='P치gina no encontrada'>
  <section class='h-screen w-full flex items-center justify-center'>
    <div
      class='mx-auto max-w-[350px] p-5
      flex flex-col items-center gap-4 text-center'
    >
      <Image src={AneimeraBanner} alt='Aneimera' class='w-full h-72' />
      <h1 class='mt-4 text-xl sm:text-2xl font-bold text-red-700'>
        P치gina no encontrada
      </h1>
      <p class='leading-relaxed'>
        No pudimos encontrar la p치gina que estabas buscando
      </p>
      <a href='/' class='mt-2 py-3 bg-blue-700 text-white px-5 rounded-2xl'>
        Ir a la p치gina principal
      </a>
    </div>
  </section>
</Layout>
