---
import Ponencia1 from "../../../Imagenes/ponencia1.png";
import Ponencia11 from "../../../Imagenes/ponencia11.png";
---

<section class="w-full bg-zinc-100 py-16 md:py-20">
    <div class="section-container flex flex-col gap-8">
        <h1
            class="font-semibold text-rojo text-3xl sm:text-4xl text-center tracking-wide
            uppercase mb-5 text-pretty leading-snug"
        >
            Conoce nuestros pr贸ximos eventos
        </h1>
        <h2 class="text-start text-rojo font-medium">Pr贸ximas ponencias:</h2>
        <div
            class="grid grid-rows-1 grid-cols-1 md:grid-cols-2 xl:grid-cols-[4fr,3fr] gap-10"
        >
            <div class="flex flex-col gap-8 bg-blanco p-8 md:p-10">
                <h2 class="uppercase font-medium tracking-wide">
                    Ema secci贸n Lima 2024
                </h2>
                <p class="tracking-wide text-pretty leading-[1.9]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
            <div class="w-full h-full flex items-center">
                <img
                    class="bg-red-900 w-full h-96 object-cover"
                    src={Ponencia1.src}
                />
            </div>
        </div>
        <div
            class="grid grid-rows-1 grid-cols-1 md:grid-cols-2 xl:grid-cols-[3fr,4fr] gap-10 mt-5"
        >
            <div class="order-2 md:order-1 w-full h-full flex items-center">
                <img class="bg-red-900 w-full h-96" src={Ponencia11.src} />
            </div>
            <div
                class="order-1 md:order-2 flex flex-col gap-8 bg-blanco p-8 md:p-10"
            >
                <h2 class="uppercase font-medium tracking-wide">
                    Misi贸n y Objetivo
                </h2>
                <p class="tracking-wide text-pretty leading-[1.9]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
        </div>
    </div>
</section>

<style></style>
