---
import Ponencia1 from '../../../Imagenes/ponencia1.png'
import Ponencia11 from '../../../Imagenes/ponencia11.png'
---
  <section class="w-full p-10 bg-zinc-100 flex-col">
        <h2 class="m-7 text-center text-rojo font-semibold text-5xl">CONOCE NUESTROS PRÓXIMOS EVENTOS</h2>
        <h3 class="text-rojo text-4xl font-medium mt-10 mb-5 ml-10">Próximas ponencias:</h3>

        <div class="flex flex-col justify-center text-center">

            <div class="flex flex-col lg:flex-row lg:w-full text-center justify-center">
                <div class="w-3/4 bg-blanco p-8 m-10 md:w-full">
                    <h4 class="title text-left text-3xl font-medium m-5">EMA SECCIÓN LIMA 2024</h4>
                    <p class="content text-justify font-light text-2xl m-5">Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                </div>
                <img class="m-10 md:w-full" src={Ponencia1.src} />
            </div>

            <div class="flex flex-col lg:flex-row lg:w-full text-center justify-center">
                <img class="m-10 md:w-full" src={Ponencia11.src} />
                <div class="w-3/4 bg-blanco p-8 m-10 md:w-full">
                    <h4 class="title text-right text-3xl font-medium m-5">MISIÓN Y OBJETIVO</h4>
                    <p class="content text-justify font-light text-2xl m-5">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                </div>
            </div>

           
        </div>
    </section>


<style>

</style>