---
import { Image } from 'astro:assets';
import NotFoundImage from '../assets/Imagenes/not-found-cards.webp';
---

<div class="w-full mt-10 text-center flex flex-col gap-7">
    <Image
        class="w-full max-w-96 self-center"
        src={NotFoundImage}
        alt="not-found-card-img"
    />
    <p class="mt-2 text-xl lg:text-2xl text-white font-normal">
        No hay talleres programados
    </p>
    <p class="text-base leading-relaxed text-white">
        ¡Síguenos en nuestra página oficial para enterarte de los últimos
        eventos!
    </p>
    <a
        class="bg-[#0061a9] self-center py-3 px-5 rounded-2xl text-white
        hover:bg-[#1e4360] transition-all duration-150 ease-in"
        href="https://www.facebook.com/profile.php?id=61556567363828"
        target="_blank">Ir a la página oficial</a
    >
</div>