<contact_section>
    <div class="grid grid-cols-2 bg-gris py-24">
        <div class="contact_section_left text-center">
            <h1 class="text-4xl font-bold py-20">Siguenos</h1>
            <ul class="flex items-stretch justify-center space-x-28">
                <li>
                    <a href="https://www.facebook.com/profile.php?id=61556567363828" target="_blank">
                        <i class="fa fa-facebook text-6xl"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/aneimera.upc/" target="_blank">
                        <i class="fa fa-instagram text-6xl"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/aneimera-upc/?viewAsMember=true" target="_blank">
                        <i class="fa fa-linkedin-square text-6xl"></i>
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="contact_section_left text-center">
            <h1 class="text-4xl font-bold py-20">Contactanos</h1>
            <form action="https://formsubmit.co/andressotokr1@gmail.com" method="POST">
                <div class="py-4">
                    <input class="form-control appearance-none rounded-xl w-96 py-4 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" type="text" placeholder="nombre" name="nombre" id="i_nombre"  required>
                </div>
                <div class="py-4">
                    <input class="form-control appearance-none rounded-xl w-96 py-4 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" type="text" placeholder="email" name="correo" id="i_correo" required>
                </div>
                <div class="py-4">
                    <textarea cols="" rows="3" class="form-control appearance-none rounded-xl w-96 p-3 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" placeholder="mensaje" name="mensaje" id="mensaje" required></textarea>
                </div>
                <div class="py-4">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>        
    </div>
</contact_section>