<contact_section>
    <div class="grid grid-cols-2 bg-gris">
        <div class="contact_section_left">
            <h1 class="text-4xl font-bold">Siguenos</h1>
            <ul class="flex">
                <li>  <i class="fa fa-youtube-play text-6xl"></i></i> </li>
                <li>  <i class="fa fa-spotify text-6xl"></i></i> </li>
                <li>  <i class="fa fa-linkedin-square text-6xl"></i></i> </li>
            </ul>
        </div>
        <div class="contact_section_left">
            <h1 class="text-4xl font-bold">Contactanos</h1>
            <input class="appearance-none rounded w-full py-2 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" type="text" placeholder="Nombre">
            <input class="appearance-none rounded w-full py-2 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" type="text" placeholder="Email">
            <input class="appearance-none rounded w-full py-2 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" type="text" placeholder="Mensaje">



        </div>
        
    </div>
</contact_section>