<contact_section>
    <div class="grid grid-cols-2 bg-gris py-24">
        <div class="contact_section_left text-center">
            <h1 class="text-4xl font-bold py-20">Siguenos</h1>
            <ul class="flex items-stretch justify-center space-x-28">
                <li>  <i class="fa fa-facebook text-6xl "></i> </li>
                <li>  <i class="fa fa-instagram text-6xl"></i> </li>
                <li>  <i class="fa fa-linkedin-square text-6xl"></i> </li>
            </ul>
        </div>
        <div class="contact_section_left text-center">
            <h1 class="text-4xl font-bold py-20">Contactanos</h1>
            <div class="py-4">
                <input class="appearance-none rounded-xl w-96 py-4 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" type="text" placeholder="Nombre">
            </div>
            <div class="py-4">
                <input class="appearance-none rounded-xl w-96 py-4 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" type="text" placeholder="Email">
            </div>
            <div class="py-4">
                <input class="appearance-none rounded-xl w-96 py-12 px-3 text-blanco leading-tight focus:outline-none focus:shadow-outline bg-rojo placeholder-blanco" type="text" placeholder="Mensaje">
            </div>
        </div>        
    </div>
</contact_section>