<div id="goal">
    <h1 style="text-align: center;font-weight: bold;font-size: 1.5em;">OBJETIVOS</h1>
    <div id="div_objetivos" style="display: flex; justify-content: space-between;gap:20px;">
        <div style="background-color: #D9D9D9;padding: 30px 20px;">
            <ul id="objetivos">
                <li>- Promover la investigación científica y tecnológica. </li>
                <li>- Organizar un diagnóstico integral que contribuya a la detección de problemas.</li>
                <li>- Organizar programas de capacitación y actualización científica tecnológica.</li>
                <li>- Contribuir a la integración y desarrollo nacional.</li>
                <li>- Canalizar proyectos y programas hacia personas naturales o jurídicas para su financiamiento.</li>
            </ul>
        </div>
        <img src="Imagenes/img-goal.png" alt="" style="height:120px;margin:auto 0;">
    </div>
</div>
<style>
    #goal>h1{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @media screen and (max-width: 1024px) {
        #goal>h1{
            font-size: 1.3em !important;
        }
		#div_objetivos>div>ul{
		    font-size: 0.8em;
		}
	}
	@media screen and (max-width: 767px) {
        #goal>h1{
            font-size: 1.2em !important;
            padding-bottom: 10px;
        }
		#div_objetivos>div>ul{
		    font-size: 0.7em;
		}
        #div_objetivos{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        #div_objetivos>img{
            width: 160px;
        }
        #div_objetivos>div{
            padding: 15px 15px !important;
        }
	}
</style>