<section>
    <div class="section-container px-36">
        <div id="goal">
            <h1 class="text-center font-bold text-lg pt-6 pb-6">OBJETIVOS</h1>
            <div id="div_objetivos" class="flex justify-between gap-6">
                <div class="bg-gris p-4">
                    <ul id="objetivos">
                        <li>- Promover la investigación científica y tecnológica.</li>
                        <li>- Organizar un diagnóstico integral que contribuya a la detección de problemas.</li>
                        <li>- Organizar programas de capacitación y actualización científica tecnológica.</li>
                        <li>- Contribuir a la integración y desarrollo nacional.</li>
                        <li>- Canalizar proyectos y programas hacia personas naturales o jurídicas para su financiamiento.</li>
                    </ul>
                </div>
                <img src="Imagenes/img-goal.png" alt="" class="h-auto w-28 m-auto">
            </div>
        </div>
    </div>
</section>
<style>
    @media screen and (max-width: 1200px) {
        #goal>h1{
            font-size: 1.3em !important;
        }
		#div_objetivos>div>ul{
		    font-size: 0.8em;
		}
	}
	@media screen and (max-width: 768px) {
        #goal>h1{
            font-size: 1.2em !important;
            padding-bottom: 10px;
        }
		#div_objetivos>div>ul{
		    font-size: 0.7em;
		}
        #div_objetivos{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        #div_objetivos>img{
            width: 160px;
        }
        #div_objetivos>div{
            padding: 15px 15px !important;
        }
	}
    @media screen and (max-width: 480px) {
        #goal>h1{
            font-size: 1.1em !important;
        }
		#div_objetivos>div>ul{
		    font-size: 0.6em;
		}
	}
</style>