<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Hero</title>
  </head>
  <body>
      <div class="Hero">

          <div class="Info">
            <div class="UPC">
              <h1>ANEIMERA UPC</h1>
            </div>
            <div class="texto">
                <p>Busca el desarrollo de la investigación en las facultades de las universidades asociadas,
               a traves de transmitir conocimientos, ideas , sana competencia y sobre todo experiencias.
              </p>
            </div>
          
            <div class="unete">
              <button>
                <p>Únete a nuestro equipo</p> 
              </button>
            </div>
          </div>

            <div class="logoHero">
              <a href="#">
                  <img src="Imagenes/logoHero.jpg" alt="Logo" class="h-75 w-75">
              </a>
          </div>
      </div>
  </body>


  <style>
    .Hero{
      background-color:#C42626;   
      display: flex;/*un div al lado del otro */
    }

    .Info{
      width: 60%;
    }
    .UPC h1{
      font-size: 50px;
      
      padding: 10px 10px 10px 80px; 
    }
    .texto p{
      color: white;
      padding: 10px 50px 30px 80px; 
      font-size: 20px;
    }

    .unete{
      padding: 10px 50px 30px 80px; 
      color: white;
    }
    button{
      padding: 10px 40px 10px 40px; 
      border-radius: 20px 20px 20px 20px;/*dar forma a los bordes */
      background-color: white;    
    }
    button p{
      color: black;
    }

    .logoHero{
        padding: 20px 0px 0px 0px; /*arriba,,,Izquierda*/
    }
  </style>
</html>