<html lang="en">
  <section class="bg-rojo">
    <div
      class="Hero section-container h-screen gap-10"
     id="hero">
      <div class="Info">
        <div class="UPC">
          <h1>ANEIMERA UPC</h1>
        </div>
        <div class="logoHero2 hidden">
          <a href="#">
            <img src="Imagenes/logoHero.png" alt="Logo" />
          </a>
        </div>
        <div class="texto">
          <p>
            Busca fomentar el desarrollo de la investigación en las facultades de las universidades asociadas, mediante la transmisión de conocimientos, ideas, promoviendo una sana competencia y, sobre todo, compartiendo experiencias.
          </p>
        </div>

        <div class="unete">
          <button>
            <p>Únete a nuestros talleres</p>
          </button>
        </div>
      </div>

      <div class="logoHero flex justify-end">
        <a href="#">
          <img src="Imagenes/logoHero.png" alt="Logo" />
        </a>
      </div>
    </div>
  </section>

  <style>
    .Hero {
      background-color: #c42626;
      display: flex; /*un div al lado del otro */
      align-items: center;
      justify-content: space-between;
    }

    .Info {
      width: 60%;
    }
    .UPC h1 {
      font-size: 70px;
      letter-spacing: 2px;
      padding: 10px 10px 10px 20px;
    }
    .texto p {
      color: #ffffff;
      padding: 10px 40px 30px 20px;
      font-size: 30px;
      letter-spacing: 2px;
    }

    .unete {
      padding: 10px 40px 30px 20px;
      color: #ffffff;
    }
    button {
      padding: 10px 40px 10px 40px;
      border-radius: 20px 20px 20px 20px; /*dar forma a los bordes */
      background-color: #ffffff;
    }
    button p {
      color: #231f20;
      font-size: 30px;
      letter-spacing: 2px;
    }

    .logoHero {
      padding: 0px 0px 0px 0px; /*arriba,,,Izquierda*/
    }

    button:hover {
      background-color:darkgrey; 
    }

    button p:hover {
      color:black;
    } 

    @media screen and (max-width: 768px) {
      .logoHero{
        display: none;
      }
      .Info {
        width: 100%;
        text-align: center;
      }
      .logoHero2{
        display: block;
        width: 300px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
      }
	  }
  </style>

  <script>
    var navbar = document.querySelector('header');
    var navbarHeight = navbar!.offsetHeight;
    var hero = document.getElementById('hero');
    var computedStyles = window.getComputedStyle(hero);
    var currentHeight = parseFloat(computedStyles.height);
    var newHeight = currentHeight - navbarHeight;
    hero.style.height = newHeight + "px";
  </script>

</html>
