<html lang="en">
  <section class="bg-rojo">
    <div
      class="Hero w-11/12 max-w-screen-xl mx-auto grid grid-cols-1 grid-rows-2 gap-10
      md:grid-cols-2 md:grid-rows-1"
    >
      <div class="Info">
        <div class="UPC">
          <h1>ANEIMERA UPC</h1>
        </div>
        <div class="texto">
          <p>
            Busca el desarrollo de la investigación en las facultades de las
            universidades asociadas, a traves de transmitir conocimientos, ideas
            , sana competencia y sobre todo experiencias.
          </p>
        </div>

        <div class="unete">
          <button>
            <p>Únete a nuestros talleres</p>
          </button>
        </div>
      </div>

      <div class="logoHero">
        <a href="#">
          <img src="Imagenes/logoHero.jpg" alt="Logo" class="h-75 w-75" />
        </a>
      </div>
    </div>
  </section>

  <style>
    .Hero {
      background-color: #c42626;
      display: flex; /*un div al lado del otro */
    }

    .Info {
      width: 60%;
    }
    .UPC h1 {
      font-size: 50px;

      padding: 10px 10px 10px 30px;
    }
    .texto p {
      color: #ffffff;
      padding: 10px 50px 30px 30px;
      font-size: 20px;
    }

    .unete {
      padding: 0px 50px 30px 30px;
      color: #ffffff;
    }
    button {
      padding: 10px 40px 10px 40px;
      border-radius: 20px 20px 20px 20px; /*dar forma a los bordes */
      background-color: #ffffff;
    }
    button p {
      color: #231f20;
    }

    .logoHero {
      padding: 20px 0px 0px 0px; /*arriba,,,Izquierda*/
    }

    button:hover {
      background-color:darkgrey; 
    }

    button p:hover {
      color:black;
    } 
  </style>

</html>
