<div class="flex justify-center">
  <div class="accordion m-5 lg:w-1/2 sm:w-full">
      <h1 class="font-bold text-xl m-4">Preguntas Frecuentes</h1>

      <div class="accordion-item">
          <div class="accordion-header">
              <a>¿Donde puedo inscribirme a los talleres proporcionados?</a>
          </div>
          <div class="accordion-content">
              <p>En la sección Eventos, en la parte inferior de la misma se encuentran nuestros talleres. 
                De la misma forma puede acceder a la sección haciendo click <a href="#">aquí</a>.</p>
          </div>
      </div>

      <div class="accordion-item">
          <div class="accordion-header">
              <a>¿Cómo podria volverme embajador?</a>
          </div>
          <div class="accordion-content">
              <p>Aquí iría el contenido de la pregunta sobre cómo volverse embajador.</p>
          </div>
      </div>

      <div class="accordion-item">
          <div class="accordion-header">
              <a>¿Con quién me podria contactar para resolver mis dudas?</a>
          </div>
          <div class="accordion-content">
              <p>Aquí iría el contenido de la pregunta sobre con quién contactar para resolver dudas.</p>
          </div>
      </div>

      <div class="accordion-item">
          <div class="accordion-header">
              <a>¿Cada cuánto tiempo se realizan los eventos?</a>
          </div>
          <div class="accordion-content">
              <p>Aquí iría el contenido de la pregunta sobre la frecuencia de los eventos.</p>
          </div>
      </div>
  </div>
</div>

<style>

.accordion-item {
    margin-bottom: 1rem;
}

.accordion-header {
  background: #c42626;
  color: #fefefe;
  padding: 15px 30px;
  border-radius: 5px;
}

.accordion-content {
    display: none;
    margin: 3%;
    padding: 0 30px;
}

.accordion-item.open .accordion-content {
    display: block;
}

</style>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const accordionHeaders = document.querySelectorAll('.accordion-header');

    accordionHeaders.forEach(header => {
        header.addEventListener('click', function () {
            const accordionItem = this.parentNode;
            accordionItem.classList.toggle('open');
        });
    });
});

</script>