<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap"
            rel="stylesheet"
        />
        <!----agregar-->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css"
        />
    </head>
    <section>
        <div class="contenedor">
            <div class="carousel__contenedor">
                <button aria-label="Anterior" class="carousel__anterior">
                    <img src="Imagenes/left-arrow.png" alt="" />
                </button>

                <div class="carousel__lista">
                    <div class="carousel__elemento">
                        <img src="Imagenes/EventoPas1.png" />
                        <h1 class="title"><b>Coneimera Huancayo</b></h1>
                        <p class="texto">
                            Congreso y exposición internacional de ingeniería
                            mecánica, mecatrónica, eléctrica, electrónica y
                            ramas afines del 30 de septiembre 2012 al 6 de
                            octubre 2012
                        </p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="/Imagenes/EventoPas2.png" alt="" />
                        <h1 class="title"><b>Coneimera UNP</b></h1>
                        <p class="texto">
                            Congreso y exposición internacional de ingeniería
                            mecánica, mecatrónica, eléctrica, electrónica y
                            ramas afines. Coneimera 2016 Piura
                        </p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="Imagenes/EventoPas3.png" />
                        <h1 class="title"><b>Coneimera UNT</b></h1>
                        <p class="texto">
                            Concurso de proyectos en Trujillo, realizado en el
                            año 2017
                        </p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="Imagenes/EventoPas1.png" />
                        <h1 class="title"><b>Coneimera xyz</b></h1>
                        <p class="texto">
                            Lorem ipsum dolor sit, amet consecteturç
                        </p>
                    </div>

                    <div class="carousel__elemento">
                        <img src="Imagenes/EventoPas2.png" />
                        <h1 class="title"><b>Coneimera xyz</b></h1>
                        <p class="texto">
                            Lorem ipsum dolor sit, amet consecteturç
                        </p>
                    </div>
                </div>

                <button aria-label="Siguiente" class="carousel__siguiente">
                    <img src="Imagenes/right-arrow.png" alt="" />
                </button>
            </div>

            <div role="tablist" class="carousel__indicadores"></div>
        </div>

        <!----agregar-->
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"
        ></script>
        <script
            src="https://kit.fontawesome.com/2c36e9b7b1.js"
            crossorigin="anonymous"></script>
    </section>

    <style>
        .contenedor {
            max-width: 1200px;
            width: 90%;
            margin: auto;
        }

        /* --- --- CAROUSEL --- --- */
        .carousel__contenedor {
            position: relative;
        }
        /*
        .carousel__elemento {
            border-width: 1px;
            border-style: solid;
            border-color: black;
        }*/
        .carousel__elemento img {
            padding-left: 15%;
        }

        .carousel__anterior,
        .carousel__siguiente {
            position: absolute;
            display: block;
            border: none;
            top: calc(50% - 35px);
            cursor: pointer;
            line-height: 30px;
            text-align: center;
            background: none;
            opacity: 50%;
        }

        .carousel__anterior:hover,
        .carousel__siguiente:hover {
            opacity: 100%;
        }

        .carousel__anterior {
            top: 290px;
            left: -50px;
            width: 6%; /*tamaño imagen flecha */
        }

        .carousel__siguiente {
            top: 290px;
            right: -50px;
            width: 6%; /*tamaño imagen flecha */
        }

        .carousel__lista {
            padding-top: 10%;
            overflow: hidden;
        }

        .carousel__elemento {
            text-align: center;
            padding: 10px;
        }

        .carousel__indicadores .glider-dot {
            display: block;
            border-radius: 50;
        }

        .carousel__indicadores .glider-dot:hover {
            opacity: 0.5;
            color: black;
        }

        .carousel__indicadores .glider-dot.active {
            opacity: 1;
        }
        /*Responsive*/

        @media screen and (max-width: 1920px) {
            .contenedor {
                width: 100%;
                max-width: 80%;
            }
            .carousel__contenedor {
                position: relative;
            }

            .carousel__elemento img {
                padding-left: 25%;
            }
        }

        @media screen and (max-width: 1024px) {
            .contenedor {
                width: 100%;
                max-width: 80%;
            }
            .carousel__contenedor {
                position: relative;
            }

            .carousel__elemento img {
                padding-left: 25%;
            }
            .carousel__anterior {
                left: -50px;
                width: 10%; /*tamaño imagen flecha */
            }

            .carousel__siguiente {
                right: -50px;
                width: 10%; /*tamaño imagen flecha */
            }
        }

        @media screen and (max-width: 720px) {
            .contenedor {
                padding-top: 10%;
                overflow: hidden;
                width: 90%;
            }
            .carousel__lista {
                width: 50%;
            }
            .carousel__elemento {
                width: 50%;
            }
            .carousel__elemento img {
                padding-left: 10%;
            }

            .carousel__anterior {
                left: 110px;
                width: 10%; /*tamaño imagen flecha */
            }

            .carousel__siguiente {
                right: 110px;
                width: 10%; /*tamaño imagen flecha */
            }
        }
        @media screen and (max-width: 400px) {
            .carousel__anterior {
                left: 60px;
                width: 10%; /*tamaño imagen flecha */
            }

            .carousel__siguiente {
                right: 60px;
                width: 10%; /*tamaño imagen flecha */
            }
            .title {
                font-size: small;
            }
        }
    </style>

    <script is:inline>
        //is:line-->reconoce los eventos de javascript
        window.addEventListener("load", function () {
            new Glider(document.querySelector(".carousel__lista"), {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: ".carousel__indicadores",
                arrows: {
                    prev: ".carousel__anterior",
                    next: ".carousel__siguiente",
                },
                responsive: [
                    {
                        // screens greater than >= 775px
                        breakpoint: 775,
                        settings: {
                            // Set to `auto` and provide item width to adjust to viewport
                            slidesToShow: 2,
                            slidesToScroll: 2,
                        },
                    },
                    {
                        // screens greater than >= 1024px
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3, //de cuanto en cuanto
                            slidesToScroll: 3,
                        },
                    },
                ],
            });
        });
    </script>
</html>