<!-- Contenedor principal de Swiper -->
<section class="py-16 md:py-20 bg-rojo">
    <div class="swiper section-container">
        <!-- Wrapper adicional requerido -->
        <div class="swiper-wrapper" id="my-slider">
            <!-- Los slides -->
            <a
                class="swiper-slide"
                href="/Imagenes/EventoPas1.png"
                data-pswp-width="800"
                data-pswp-height="800"
                target="_blank"
                data-cropped="true"
            >
                <img src="/Imagenes/EventoPas1.png" alt="" />
                <h2><b>Coneimera Huancayo</b></h2>
                <p>
                    Congreso y exposición internacional de ingeniería mecánica,
                    mecatrónica, eléctrica, electrónica y ramas afines del 30 de
                    septiembre 2012 al 6 de octubre 2012
                </p>
            </a>
            <a
                class="swiper-slide"
                href="/Imagenes/EventoPas2.png"
                data-pswp-width="800"
                data-pswp-height="800"
                target="_blank"
                data-cropped="true"
            >
                <img src="/Imagenes/EventoPas2.png" alt="" />
                <h2><b>Coneimera UNP</b></h2>
                <p>
                    Congreso y exposición internacional de ingeniería mecánica,
                    mecatrónica, eléctrica, electrónica y ramas afines. Coneimera
                    2016 Piura
                </p>
            </a>
            <a
                class="swiper-slide"
                href="/Imagenes/EventoPas3.png"
                data-pswp-width="800"
                data-pswp-height="800"
                target="_blank"
                data-cropped="true"
            >
                <img src="/Imagenes/EventoPas3.png" alt="" />
                <h2><b>Coneimera UNT</b></h2>
                <p>Concurso de proyectos en Trujillo, realizado en el año 2017</p>
            </a>
            <a
                class="swiper-slide"
                href="/Imagenes/EventoPas1.png"
                data-pswp-width="800"
                data-pswp-height="800"
                target="_blank"
                data-cropped="true"
            >
                <img src="/Imagenes/EventoPas2.png" alt="" />
                <h2><b>Coneimera Huancayo</b></h2>
                <p>
                    Congreso y exposición internacional de ingeniería mecánica,
                    mecatrónica, eléctrica, electrónica y ramas afines del 30 de
                    septiembre 2012 al 6 de octubre 2012
                </p>
            </a>
        </div>
        <!-- Botones de navegación -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>

<script>
    // Core de Swiper y estilos
    import Swiper from "swiper";
    import "swiper/css";
    // Módulo Navigation de Swiper y estilos
    import { Navigation } from "swiper/modules";
    import "swiper/css/navigation";
    // Photoswipe y estilos
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    // Configurar e inicializar Photoswipe
    const lightbox = new PhotoSwipeLightbox({
        gallery: "#my-slider",
        children: "a",
        pswpModule: () => import("photoswipe"),
    });
    lightbox.init();

    // Configurar Swiper
    const swiper = new Swiper(".swiper", {
        modules: [Navigation], // definir los módulos a usar
        loop: true, // definir si los slides estarán en bucle
        slidesPerView: 3, // agregar número de slides para la pantalla
        spaceBetween: 40, // separación entre slides en px
        navigation: {
            // definir botones next y prev para el módulo Navigation
            prevEl: ".swiper-button-prev",
            nextEl: ".swiper-button-next",
        },
    });
</script>

<style>
    .swiper {
        padding-left: 60px;
    }
    .swiper-wrapper{
        
    }
    .swiper-slide {
        height: 460px;
        width: 400px;
        overflow: hidden;
      
    }
    .swiper-slide img {
        width: 70%;
        height: 70%;
    }
    h1 {
        padding-top: 5%;
    }
    p{
        padding-right: 5%;
    }
</style>
