---
import NotFound from "../../components/NotFound.astro";
import VisitCard from "../../components/VisitCard.astro";
import { cards } from "../../data/VisitCards";

// Función para convertir fecha de DD/MM/AAAA a AAAA-MM-DD
function convertDate(dateStr) {
    const [day, month, year] = dateStr.split('/');
    return new Date(`${year}-${month}-${day}`);
}

// Obtener la fecha actual
const today = new Date();

// Filtrar las tarjetas anteriores a la fecha actual
const pastCards = cards.filter(card => convertDate(card.visit_date) > today);
---

<section class="py-16 md:py-20 bg-blanco">
    <div class="section-container">
        <h2 class="font-semibold uppercase text-black">Visitas técnicas programadas:</h2>
        {
            cards.length > 0 ? (
                <div class="mt-10 grid grid-cols-1 md:grid-cols-2 grid-rows-auto gap-12">
                    {cards.map((card) => (
                        <VisitCard {...card} />
                    ))}
                </div>
            ) : (
                <NotFound />
            )
        }
    </div>
</section>
