<section class="pt-10 pb-16">
    <div>
        <div class="section-container">
            <div id="dir-part1" class="text-center mx-auto">
                <h1 class="font-semibold text-rojo text-3xl sm:text-4xl text-center tracking-wide
                uppercase mb-10 text-pretty leading-snug">Mesa Directiva</h1>
                <p>Tenemos el mejor equipo de estudiantes de ingeniería mecatrónica, electrónica y afines para cumplir con los objetivos de la asociación</p>
                <div id="list-card" class="mt-20 sm:mt-24 flex flex-wrap gap-4 gap-y-20 sm:gap-y-24 justify-around">
                    <div class="dir-card">
                        <img id="dir-img" src="Imagenes/persona1.png" alt="">
                        <div class="sub-dir-card">
                            <h3 style="font-weight:bold">William López</h3>
                            <h3>Delegacion</h3>
                        </div>
                        <img class="icono" id="icono1" src="Imagenes/flecha.png" alt="">
                        <p class="descripcion" id="descripcion1">Estudiante de Ingeniería Mecatrónica con experiencia en proyectos de diseño y construcción, incluyendo un brazo robótico, un mástil automático para sensor LIDAR en un Rover, y una línea de producción con PLC en módulos Fischertechnik. Coordinador de logística en el capítulo ComSoc de IEEE en la UPC.</p>
                    </div>
                    <div class="dir-card">
                        <img id="dir-img" src="Imagenes/persona2.png" alt="">
                        <div class="sub-dir-card">
                            <h3 style="font-weight:bold">Alessandro Vicente</h3>
                            <h3>Delegacion</h3>
                        </div>
                        <img class="icono" id="icono2" src="Imagenes/flecha.png" alt="">
                        <p class="descripcion" id="descripcion2">Estudiante de octavo ciclo en la UPC, especializado en ingeniería enfocada en robótica y programación. Ganador del concurso PASKA 2021, becado por la Alianza del Pacífico en 2023 para un intercambio académico en México. Voluntario en eventos como INTERCON 2023 y el International Congress of Artificial Intelligence 2022. Líder como Presidente del área de Electrónica en la rama AESS en la UNAM en 2023.</p>
                    </div>
                    <div class="dir-card">
                        <img id="dir-img" src="Imagenes/persona3.png" alt="">
                        <div class="sub-dir-card">
                            <h3 style="font-weight:bold">Joanna Carrión</h3>
                            <h3>Delegacion</h3>
                        </div>
                        <img class="icono" id="icono3" src="Imagenes/flecha.png" alt="">
                        <p class="descripcion" id="descripcion3">Estudiante de Ingeniería Electrónica en octavo ciclo, líder en proyectos en la UPC y presidente de IEEE ComSoc UPC en 2023. Ganadora de premios en competencias como Coneimera y RAS TRAINING, y becada para la IEEE ComSoc School Series Atlanta. Experiencia en robótica y biomédica, con presentaciones internacionales y una beca para una pasantía en la Universidad de Alberta en 2024.</p>
                    </div>
                    <div class="dir-card">
                        <img id="dir-img" src="Imagenes/persona4.png" alt="">
                        <div class="sub-dir-card">
                            <h3 style="font-weight:bold">Carlos Sotacora</h3>
                            <h3>Delegacion</h3>
                        </div>
                        <img class="icono" id="icono4" src="Imagenes/flecha.png" alt="">
                        <p class="descripcion" id="descripcion4">Estudiante de ingeniería mecatrónica en la UPC. Técnico electricista en automatización PLC y variadores de frecuencia, con experiencia en diseño de circuitos eléctricos de corriente alterna, especialmente en maquinaria SORSA. Encargado del comité de Logística en INTERCON 2023 y ganador del segundo lugar en la competencia de automatización con PLC en RAS WEEK 2023.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-rojo">
        <div class="section-container">
            <div id="dir-part2" class="flex flex-col text-blanco mt-20 md:flex-row">
                <h2 class="font-bold text-center mt-auto mb-auto">Nuestras<br>Funciones</h2>
                <il class="mt-5 mb-5">
                    <li class="mt-4 mb-4">Cumplir rigurosamente con las disposiciones del Estatuto, el Reglamento Interno y los acuerdos de la Asamblea y la Mesa Directiva según la ley vigente.</li>
                    <li class="mt-4 mb-4">Aceptar y llevar a cabo con lealtad los cargos, comisiones y tareas asignadas por la Mesa Directiva.</li>
                    <li class="mt-4 mb-4">Asistir puntualmente a todos los actos y sesiones convocados por los Órganos de Gobierno, manteniendo una conducta caracterizada por la prudencia y el respeto.</li>
                    <li class="mt-4 mb-4">Elevar el prestigio de la Asociación mediante la promoción de valores como el respeto, la identificación con los principios institucionales, la fraternidad, la camaradería y la colaboración.</li>
                </il>
            </div>
        </div>
    </div>
    <div>
        <div class="section-container pt-10">
            <div id="dir-part3" class="text-center mx-auto">
                <h2 class="text-center font-semibold tracking-wider pb-10">Asesores</h2>
                <p>Tenemos los mejores asesores en ingeniería mecatrónica, electrónica y afines para cumplir con los objetivos de la asociación</p>
                <div id="list-card" class="mt-20 sm:mt-24 flex flex-wrap gap-4 gap-y-20 sm:gap-y-24 justify-around">
                    <div class="dir-card">
                        <img id="dir-img" src="Imagenes/asesor1.png" alt="">
                        <div class="sub-dir-card">
                            <h3 style="font-weight:bold">Nikolai Vinces</h3>
                            <h3>Delegacion</h3>
                        </div>
                    </div>
                    <div class="dir-card">
                        <img id="dir-img" src="Imagenes/asesor2.png" alt="">
                        <div class="sub-dir-card">
                            <h3 style="font-weight:bold">Carlos Valdez</h3>
                            <h3>Delegacion</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    #dir-part1,#dir-part3{
        width: 60% !important;
    }
    .dir-card{
        background-color: #C42626;
        border-radius: 20px;
        width: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
    }
    #dir-img{
        border-radius: 50%;
        border: 4px solid #DFDFDF;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        top:-50px;
        height: 100px;
        position: absolute;
    }
    .sub-dir-card{
        background-color: #DFDFDF;
        width: 85%;
        margin: 70px auto 20px;
        border-radius: 10px;
        padding: 0.3rem 0;
    }
    .icono{
        width: 35px;
        margin: 0 auto 10px;
        cursor: pointer;
        transform: rotate(0deg);
        transition: transform 0.5s ease;
    }
    .descripcion{
        width: 85%;
        margin: 0 auto;
        color: white;
        padding-bottom: 20px;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        max-height: 0;
        opacity: 0;
        text-align: justify;
    }
    #dir-part2>h2{
        width: 40%;
        margin-left: auto;
        margin-right: auto;

    }
    #dir-part2>il{
        width: 60%;
    }
    .open {
        opacity: 1;
        max-height: 500px;
    }
    .girar{
        transform: rotate(180deg);
    }

    @media screen and (max-width: 1200px) {
        #dir-part1,#dir-part3{
            width: 80% !important;
        }
	}
    @media screen and (max-width: 900px) {
        #dir-part1,#dir-part3{
            width: 100% !important;
        }
	}
    @media screen and (max-width: 768px) {
        #dir-part2{
            text-align: center;
            padding-top: 1.5rem
        }
        #dir-part2>h1,#dir-part2>il{
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
	}
</style>
<script>
    const icono1 = document.getElementById("icono1");

    const iconos = document.querySelectorAll('.icono');

    iconos.forEach((icono) => {
        icono.addEventListener('click', () => {
            icono.classList.toggle('girar');
            const accordionItem = icono.closest('.dir-card');
            const accordionContent = accordionItem.querySelector('.descripcion');
            accordionContent.classList.toggle('open');
        });
    });
</script>